@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Saira+Condensed:wght@300&family=Secular+One&display=swap');
* {
    font-family: 'Secular' !important;
 }
.site_header {
    background: #fff;
    color: #72777c;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    z-index: 100;
    line-height: 49px;
}
._header-stick .main_site_header {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.main_site_header {
    background: #fff;
}
.main_site_header {
    box-shadow: 0 -1px 1px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.1);
    background: #fff;
}

div{
    display: block;
}

.site_header .content {
    width: 944px;
    margin: auto;
    position: relative;
}
.site_header {
    background: #fff;
    color: #72777c;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    z-index: 100;
    line-height: 49px;
}
.site_header .zr_logo {
    vertical-align: middle;
    display: inline-block;
    width: 155px;
    height: 34px;
}
.site_header .brand {
    float: left;
    padding: 0 1em;
    line-height: 46px;
}
a:link, a:visited {
    text-decoration: none;
}
a:visited {
    color: purple;
}
a {
    color: #0e75e2;
    text-decoration: none;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

element.style {
}
.site_header .zr_logo {
    vertical-align: middle;
    display: inline-block;
    width: 155px;
    height: 34px;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.site_header .brand {
    float: left;
    padding: 0 1em;
    line-height: 46px;
}
a:link, a:visited {
    text-decoration: none;
}
a:visited {
    color: purple;
}
a {
    color: #0e75e2;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.site_header {
    background: #fff;
    color: #72777c;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    z-index: 100;
    line-height: 49px;
}
body {
    background: #fff;
    color: #2f3639;
}
body {
    background: #fff;
    color: #2f3639;
}
body {
    color: #2f3639;
}
body {
    line-height: 1;
}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
::selection {
    background: rgba(91,200,106,0.3);
}
.content:after {
    clear: both;
}
.content:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.site_header .dropdown_button {
    border-radius: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    font: inherit;
    padding: 0;
    margin: 0;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.site_header .nav {
    position: relative;
    z-index: 100;
    float: left;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

.zr-icon-base, .site_header .nav.has_subnav .nav_title::after {
    transform: translate(0,0);
    background-size: contain;
    background-position: center;
    content: " ";
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}
.site_header .nav_title:hover, .site_header .nav_title:active {
   
    cursor: pointer;
    color:#b2e522;
}

.site_header .secondary_nav {
    float: right;
}
.site_header .nav_title {
    display: block;
    font-size: 14px;
    padding: 0 10px;
    color: #2f3639;
    margin: 0;
}
.site_header .post_button_desktop {
    letter-spacing: 0;
    display: inline-block;
    text-decoration: none;
    text-shadow: none;
    transition: background-color .1s linear,border-color .1s linear;
    vertical-align: middle;
    text-align: center;
    border-radius: 2em;
    outline: 0;
    color: #277f6a;
    background: #fff none;
    border: 1px solid #d8dbdc;
    max-width: 240px;
    font-weight: 700;
    padding: 7px 20px 7px 20px;
    line-height: 20px;
    white-space: normal;
    width: auto;
    font-size: 14px;
    margin-top: -4px;
}

.site_header .post_button_desktop:hover{
   border-color: #b2e522; 
}
.site_header .sign_in_link, .site_header .sign_in_link:visited {
    color: #2f3639;
}

.site_header .sign_in_link:hover{
    text-decoration: none;
    color:#b2e522;
}

